<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

{{#if user}}
    <li class="nav-item mr-auto">
        {{!-- main.js router(/login)--}}
        <a data-toggle="modal" data-target="#findFriend" class="nav-link">Add Friends <i class="fas fa-search fa-fw"></i></a>
    </li>

    <div id="findFriend" class="modal fade" role="form">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Type Your Friend's ID.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form action="/user/findFriend/{{user.id}}" method="post">
				<div class="form-group">
					<label for="id">ID</label>
					<input type="text" class="form-control" name="id"  required>
				</div>
				
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{{/if}}
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
{{#if user}}
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item ">
            <a class="nav-link" href="/user/viewFriends/{{user.id}}" role="button" 
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-friends fa-fw"></i>
                <!-- Counter - Messages -->
                {{!-- <span class="badge badge-danger badge-counter">7</span> --}}
            </a>
        {{/if}}

        {{#if user}}

        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>

        <li class="nav-item">
            <a href="/showProfile" class="nav-link">{{user.name}}#{{user.id}}</a>
        </li>
        {{else}}
        <li class="nav-item">
            {{!-- main.js router(/login)--}}
            <a href="/showLogin" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a href="/showRegister" class="nav-link">Register</a>
        </li>
        {{/if}}
        {{!--
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                <img class="img-profile rounded-circle" src="/bootstrap/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div> --}}
        </li>
    </ul>
</nav>
<div class="container-fluid">