<div class="container">
  <!-- Content here -->
    <h1>Friends</h1>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Friend's id</th>
            <th>Friend's Name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each friends}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#friend{{id}}">Unfriend</button></td>
                {{!-- Modal --}}
                <div class="modal fade" id="friend{{id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Unfriend Friend</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to Unfriend <strong>{{name}}</strong> ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form action='/user/unfriend/{{exisitingId}}/{{id}}' method="POST" >
                                    <input type="hidden" name="friendid" class="form-control" value = "{{id}}">
                                    <input type="hidden" name="id" class="form-control" value = "{{exisitingId}}">
                                    <button type="submit" class="btn btn-danger" >Unfriend</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>